.mainText{
  padding: 2rem 0 0 2rem;
}

.mainText h1{
  color:#F7941D;
}

.mainText p {
  width: 50rem;
}
.mainText p{
  margin-bottom: 1rem;
}


.mainImg img:first-child{
width: 100%;
position: relative;
}

.mainImg{
  display: flex;
}

.text{
  position: absolute;
  z-index: 10;
  bottom: -90%;
  color: #fff;
  padding-left: 4rem;
}
.text ul li{
  display: flex;
  align-items: center;
  gap:1rem;
  margin: 0.5rem 0 0.5rem 0 ;
  font-size: 1.2rem;
  width: 20rem;
}

.text ul li img{
  width: 1rem;
  max-width: 2rem;
}


@media (max-width:768px) {
  .mainText p {
    width: 20rem;
  }
 
  .mainText {
    padding-bottom: 10rem;
  }

  .text{
    bottom: -90%;
    color: #000;
    padding-left: 2rem;
  }
}


@media (min-width:1440px) {
  .text{
    bottom: -50%;
  }
  .text ul li{
    font-size: 1.6rem;
  }
  
  
}