.section{
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center
}

.section p, .section h1 {
  color: #fff;
}
.section p {
  font-size:1.6rem
}
.section h1 {
  font-size: 4rem;
  line-height:3.6rem
}
