* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
 color: #c995dda4;
}
ul{
  list-style: none;
}

html, p, span, button, input, button{
  font-family: 'Open Sans', sans-serif;
  }